.header-ul {
  list-style-type: none;
}

@media (max-width: 390px) {
  .header {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo {
    display: none;
  }

  .header-ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }

  .header-li {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
}