

@media (max-width: 390px) {
  body {
  height: 844px;
  background-image: url('./images/elegant-black-background-3194.jpg');
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  }
}