

@media (max-width: 390px) {
  body {
  height: 100%;
  background-image: url('./images/elegant-black-background-3194.jpg');
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  }
}